@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

span {
  display: block;
}

.gradient-red {
  background: #ff2828;
}

.gradient-custom-background-vertical {
  background: rgb(255,40,40);
  background: -moz-linear-gradient(0deg, rgba(255,40,40,1) 25%, rgba(12,138,26,0.9) 75%);
  background: -webkit-linear-gradient(0deg, rgba(255,40,40,1) 25%, rgba(12,138,26,0.9) 75%);
  background: linear-gradient(0deg, rgba(255,40,40,1) 25%, rgba(12,138,26,0.9) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff2828",endColorstr="#0c8a1a",GradientType=1);
}

.gradient-custom-background-horizontal {
  background: rgb(255,40,40);
  background: -moz-linear-gradient(90deg, rgba(255,40,40,1) 25%, rgba(12,138,26,0.9) 75%);
  background: -webkit-linear-gradient(90deg, rgba(255,40,40,1) 25%, rgba(12,138,26,0.9) 75%);
  background: linear-gradient(90deg, rgba(255,40,40,1) 25%, rgba(12,138,26,0.9) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff2828",endColorstr="#0c8a1a",GradientType=1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
